*{
    margin: 0;
    padding: 0;
}
.fotoMia{
    width: 400px; 
    height: 400px;
    z-index: 10;
}
.garabatos{
    z-index: 9;
    
}
.stackHero{
    z-index: 10;
}
.divHero{
    width: 1450px;
}
body{
    background-color: #F9F9F9
}