*{
    margin: 0 ;
    padding: 0;
}
/*.fotoMia{
  
    height: 450px;
}*/
.cardHero{
    width: 150px;
    position: relative;
}
.imgHero{
    position: absolute;
    left: 60px;
    bottom: 115px;
    background-color: #0C7FB0;
    border-radius: 50%;
}