*{
    margin: 0px;
    padding: 0px;

}
.webImg{
    width: 70px;
    height: 80px;
    background-color: #F9F9F9;
    position: absolute;
    left: 75px ;
    bottom: 125px;
}
.cardServ{

    position: relative;
     align-items: center;
}
